.container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.gridBox{
    display: flex;
    flex: 1;
    border: 1px solid red;
    aspect-ratio: 1/1;
    width: 100%;
}

.row {
    display: flex;
    border: 1px solid green;
}