body, html {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 850px;
    min-width: 450px;
    width: 100%;
    aspect-ratio: 1/1;
    flex: 1 1 auto;
    border: 1px solid black;
    background-color: grey;
}

.gridBox{
    display: flex;
    

   /*flex: 1 1 calc(100%/16);*/
    
    aspect-ratio: 1/1;
   /* max-width: calc(100%/16);*/
  
    border: 1px solid red;
    background-color: white;
    
}

.row {
    justify-content: center;
    width: 100%;
    /*max-height: calc(100%/16);*/
    display: flex;
   /* flex: 1 1 calc(100%/16);*/
    
}