body, html {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;

    /*max-width: 850px;*/

    width: 100vw;
    height: 100vh;

    border: 1px solid black;
}

.gridBox{
    display: flex;
    flex: 1;
    border: 1px solid red;
    aspect-ratio: 1/1;
    
}

.row {
    /*display: flex;*/
    border: 1px solid green;
}